body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  width: 200px;
  height: 200px;
  background-color: aqua;
  border-radius: 100px;
  display: flex;
  justify-content: center;
}

.pointer {
  width: 5px;
  height: 100px;
  transform-origin: bottom;
  position: absolute;
}

#hours {
  background-color: black;
  transform: rotate(90deg);
}

#minutes {
  background-color: bisque;
  transform: rotate(120deg);
}

#seconds {
  background-color: brown;
  transform: rotate(0deg);
}
